(
    servers: [
        (
            name: "Veloren Project Official Server (EU-1)",
            address: "server.veloren.net",
            port: 14004,
            description: "The official server run by the Veloren project team",
            location: "DE",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: true,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/ecUxc9N"),
                ),
                "reddit": (
                    name: "r/veloren",
                    content: url("https://reddit.com/r/Veloren"),
                ),
                "website": (
                    name: "Veloren.net",
                    content: url("https://veloren.net"),
                ),
                "youtube": (
                    name: "Youtube",
                    content: url("https://youtube.com/c/Veloren"),
                ),
            },
        ),
        (
            name: "Endcube",
            address: "veloren.endcube.net",
            port: 14004,
            description: "The premier Asia-hosted Veloren server for everyone!",
            location: "SG",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Veloren ES",
            address: "server.veloren.es",
            port: 14004,
            description: "Servidor para la comunidad española. - http://veloren.es/",
            location: "FR",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Veloren LATAM",
            address: "server.velorenlatam.net",
            port: 14004,
            description: "Servidores desde Chile / Argentina hacía toda América en constante crecimiento !",
            location: "CL",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/VelorenLATAM"),
                ),
            },
        ),
        (
            name: "Veloren LATAM (México - Colombia)",
            address: "miami.velorenlatam.net",
            port: 14004,
            description: "Servidores desde Chile / Argentina hacía toda América en constante crecimiento ! (México incluído)",
            location: "US",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/VelorenLATAM"),
                ),
            },
        ),
        (
            name: "South America Veloren",
            address: "velorenbr.com",
            port: 14004,
            description: "",
            location: "BR",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/X39tWScpYQ"),
                ),
            },
        ),
        (
            name: "VLRN",
            address: "vlrn.hnrq.dev",
            port: 14004,
            description: "É o Brasil, esqueça tudo",
            location: "BR",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/9Uexb5zsn8"),
                ),
            },
        ),
        (
            name: "HostEZ.io Veloren Community",
            address: "veloren.hostez.io",
            port: 14004,
            description: "https://hostez.io/discord - Vanilla - Daily reboots",
            location: "US",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "VelorenARG",
            address: "191.97.181.143",
            port: 14004,
            description: "Servidor Para La Comunidad Argentina de veloren , Veni a Morfar Asadito Con Nosotros",
            location: "AR",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/F7tDDH9AQd"),
                ),
            },
        ),
        (
            name: "[US East] Ravengard",
            address: "veloren.ravengard.net",
            port: 14004,
            description: "A Veloren server hosted in New York, United States.",
            location: "US",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/7QqDeF4ZNT"),
                ),
            },
        ),
        (
            name: "Aincrad LATAM Network",
            address: "veloren.aincradlatam.net",
            port: 14004,
            description: "Servidor dedicado latino 24/7, eventos los fines de semana",
            location: "CL",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "website": (
                    name: "Website",
                    content: url("https://www.aincradlatam.net"),
                ),
            },
        ),
        (
            name: "Veloren WestUS",
            address: "joeisthebest.mooo.com",
            port: 14004,
            description: "Veloren - vanilla US West",
            location: "US",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Comunidad | VoltionMC | ES",
            address: "veloren.voltionmc.es",
            port: 14004,
            description: "Servidor de Veloren Español | Bienvenidos",
            location: "ES",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Mundo Veloren [Server 1]",
            address: "88.214.59.205",
            port: 14004,
            description: "La comunidad mas grande de habla hispana",
            location: "MX",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/tCgSX3mSzx"),
                ),
            },
        ),
        (
            name: "Mundo Veloren [Server 2]",
            address: "194.156.89.53",
            port: 14004,
            description: "La comunidad mas grande de habla hispana",
            location: "MX",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/tCgSX3mSzx"),
                ),
            },
        ),
        (
            name: "Veloren Latino",
            address: "play.velorenla.com",
            port: 14004,
            description: "Servidor de Veloren para América Latina | Con tu ayuda podemos crear la mejor comunidad de Veloren | ¡Únete a la aventura!",
            location: "MX",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/fuCYnG3YJy"),
                ),
                "website": (
                    name: "Website",
                    content: url("https://velorenlatino.com"),
                ),
            },
        ),
        (
            name: "NoCap Vel",
            address: "51.161.197.99",
            port: 14004,
            description: "Australian Veloren server hosted by NoCap",
            location: "AU",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/5dyU59e6Ek"),
                ),
            },
        ),
        (
            name: "ZonaZero",
            address: "185.169.196.213",
            port: 27406,
            description: "Comunidad | ZonaZero | ES Servidor Español de Veloren. CustomMap. Te ayudamos, te enseñamos y explicamos. Servidor balanceado y optimizado. Entra y pregunta!!",
            location: "NL",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
            extra: {
                "discord": (
                    name: "Discord",
                    content: url("https://discord.gg/vCGkrErBHN"),
                ),
                "email": (
                    name: "Correo de contacto",
                    content: text("zonazerooficial22@gmail.com"),
                ),
            },
        ),
    ],
)
