(
    servers: [
        (
            name: "Veloren Project Official Server (EU-1)",
            address: "server.veloren.net",
            port: 14004,
            description: "The official server run by the Veloren project team. Join us on Discord! https://discord.gg/ecUxc9N",
            location: "DE",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: true,
        ),
        (
            name: "Endcube",
            address: "veloren.endcube.net",
            port: 14004,
            description: "The premier Asia-hosted Veloren server for everyone!",
            location: "SG",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Veloren ES",
            address: "server.veloren.es",
            port: 14004,
            description: "Servidor para la comunidad española.  - http://veloren.es/",
            location: "FR",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Veloren LATAM",
            address: "server.velorenlatam.net",
            port: 14004,
            description: "Servidores desde Chile / Argentina hacía toda América en constante crecimiento ! Únete a nuestro Discord: discord.gg/VelorenLATAM",
            location: "CL",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Veloren LATAM (México - Colombia)",
            address: "miami.velorenlatam.net",
            port: 14004,
            description: "Servidores desde Chile / Argentina hacía toda América en constante crecimiento ! (México incluído) Únete a nuestro Discord: discord.gg/VelorenLATAM",
            location: "US",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "South America Veloren",
            address: "velorenbr.com",
            port: 14004,
            description: "https://discord.gg/X39tWScpYQ",
            location: "BR",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "VLRN",
            address: "vlrn.duckdns.org",
            port: 14004,
            description: " É o Brasil, esqueça tudo https://discord.gg/9Uexb5zsn8",
            location: "BR",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "HostEZ.io Veloren Community",
            address: "51.222.146.193",
            port: 14004,
            description: "https://hostez.io/discord - Vanilla - Daily reboots",
            location: "US",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "VelorenARG",
            address: "191.97.181.143",
            port: 14004,
            description: "Servidor Para La Comunidad Argentina de veloren , Veni a Morfar Asadito Con Nosotros / Discord Official: https://discord.gg/F7tDDH9AQd",
            location: "AR",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "[US East] Ravengard",
            address: "veloren.ravengard.net",
            port: 14004,
            description: "A Veloren server hosted in New York, United States. Discord server found at https://discord.ravengard.net/",
            location: "US",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Aincrad LATAM Network",
            address: "veloren.aincradlatam.net",
            port: 14004,
            description: "Servidor dedicado latino 24/7, eventos los fines de semana - web: https://www.aincradlatam.net/",
            location: "CL",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Veloren WestUS",
            address: "joeisthebest.mooo.com",
            port: 14004,
            description: "Veloren - vanilla US West",
            location: "US",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Comunidad | VoltionMC | ES",
            address: "veloren.voltionmc.es",
            port: 14004,
            description: "Servidor español de Veloren, sed más que bienvenidos y disfrutad de nuestro contenido",
            location: "ES",
            auth_server: "https://auth.veloren.net",
            channel: Some("weekly"),
            official: false,
        ),
    ],
)