(
    servers: [
        (
            name: "Veloren Project Official Server (EU#1)",
            address: "server.veloren.net",
            port: 14004,
            description: "discord:  https://discord.gg/ecUxc9N",
            location: "DE",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: true,
        ),
        (
            name: "VelorenJeiter",
            address: "45.235.99.93",
            port: 14004,
            description: "discord: https://discord.gg/nFMYHYc3 LITTLE server with whitelist, please ask on our discord to join",
            location: "AR",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Mundo Veloren 1",
            address: "88.214.59.205",
            port: 14004,
            description: "discord: https://discord.gg/tCgSX3mSzx Mundo Veloren / Spanish community",
            location: "US",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Mundo Veloren 2",
            address: "194.156.89.53",
            port: 14004,
            description: "discord: https://discord.gg/tCgSX3mSzx Mundo Veloren / Spanish community",
            location: "US",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "VELOREN LATAM 🔥",
            address: "server.velorenlatam.net",
            port: 14004,
            description: "discord: https://discord.gg/uU5ATbvCjv website: https://velorenlatam.net/",
            location: "CL",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "South America Server",
            address: "velorenbr.com",
            port: 14004,
            description: "discord: https://discord.gg/X39tWScpYQ reddit: https://www.reddit.com/r/Veloren/comments/vbbtx2/south_america_server_velorensamuellmdev/",
            location: "BR",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Veloren ES",
            address: "server.veloren.es",
            port: 14004,
            description: "discord: discord.veloren.es - 24/7 dedicated server hosted on France OVH for Spanish community",
            location: "FR",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Endcube Veloren Server (Asia-Hosted)",
            address: "veloren.endcube.net",
            port: 14004,
            description: "",
            location: "SG",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Heretic.Network Community Server",
            address: "gaming.heretic.network",
            port: 14004,
            description: "hosted (East Coast GMT-5) - 24/7 fiber internet for the Heretic.Network community, however everyone is welcome to freely play on it without membership to our community",
            location: "US",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "[SWAMP.LOL] Community Gameserver",
            address: "swamp.lol",
            port: 14004,
            description: "discord: https://discord.gg/pmeYZaaqc3 telegram: https://t.me/swamplol - Friendship community safespace server - Ламповый сервер для анона",
            location: "RU",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "HostEZ Official Veloren (Vanilla)",
            address: "51.222.146.193",
            port: 14004,
            description: "discord: https://hostez.io/discord - Join us in Veloren for a fun Vanilla experience with low latency and high performance. Enjoy! - The server automatically updates every night at 0:00 Pacific Time and restarts at 0:05 with the latest version",
            location: "CA",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "VLRN",
            address: "vlrn.duckdns.org",
            port: 14004,
            description: "O servidor caiu por 2 dias porque esqueci de pagar a conta de luz. Caso algo mais aconteça, vou colocar os updates em: https://discord.gg/9Uexb5zsn8 ",
            location: "BR",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Elise.GG :: Veloren",
            address: "veloren.elise.gg",
            port: 14004,
            description: "Currently a basic Veloren server very close to stock. Going to try to add some stuff while I learn more about the game. Happy to take suggestions for improvements! ",
            location: "AU",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "WECW",
            address: "sadj.tpddns.net",
            port: 14004,
            description: "DownloadLink: https://github.com/EvanMeek/veloren-wecw/releases - Large-scale custom mod veloren. WECW mainly shows the world of Warcraft style multiplayer team experience, as well as a new currency system, equipment system and skill development. - 大型自定义模组版本的Veloren. WECW主要展示魔兽世界风格的大型多人团队体验, 其相比原版有全新的货币，装备，技能系统。",
            location: "CN",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "tchncs.de Community Gameserver",
            address: "veloren.tchncs.de",
            port: 14004,
            description: "discord: https://discord.gg/yEpgxCKb matrix: #veloren-server:tchncs.de irc ##veloren-tchncs on Libera.Chat (Info & Signup) tchncs.de/veloren - This server is mainly and heavily promoted on the tchncs Mastodon and Matrix instance in an attempt of bringing users closer together. As of the time of writing, we\'ve just declared saturday to Veloren-day. Of course the server is not meant to be exclusive to tchncs users and everybody is welcome.",
            location: "DE",
            authServer: Some("https://auth.veloren.tchncs.de"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "[BR/SA] No name, no admins, same settings as main",
            address: "veloren.wisp.run",
            port: 14004,
            description: "24/7",
            location: "BR",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "[No name - Suggest one!",
            address: "joeisthebest.mooo.com",
            port: 14004,
            description: "US West - I\'m hoping to make the server a bit more lively, hop on and have some fun. ",
            location: "US",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Zesterer\'s experimental build server",
            address: "168.119.172.252",
            port: 14004,
            description: "Hopefully Airshipper compatible. If you get a hard error when connecting, ping me and I will update the server!",
            location: "DE",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
        (
            name: "Currently unnamed",
            address: "lbenard.dev",
            port: 14004,
            description: "West EU - I haven\'t properly set up the server yet - It\'s hosted on a basic VPS but can be scaled if deemed useful. Ping-wise I\'m getting at most 40ms when travelling (Paris)",
            location: "FR",
            authServer: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: false,
        ),
    ],
)