GameServerList(
    servers: [
        GameServer(
            name: "Official Veloren Server",
            address: "server.veloren.net",
            port: 14004,
            description: "Welcome to the Veloren Pre-Alpha. Enjoy your journey!",
            location: "DE",
            auth_server: Some("https://auth.veloren.net"),
            channel: Some("weekly"),
            official: true,
        )
    ]
)